// Cards
$card-border-color        : $color-border !default; // #e5e5e5
$card-bg                  : $white !default;
$card-cap-bg              : $card-bg !default; // #f5f5f5

$mdb-card-body-text       : $color-text !default;
$mdb-card-body-background : $white !default;
$mdb-card-image-headline  : $white !default;

$text-disabled            : #a8a8a8 !default;
$background-disabled      : $color-disabled; //#eaeaea !default;

$gray-lighter             : rgba($black, 0.12) !default;
$gray-light               : #999 !default;
$gray-alpha               : .54 !default;
$gray                     : #555 !default; // spec color
$gray-dark                : rgba($black, 0.87) !default; 

$font-size-base           : 1rem !default;
$font-size-h1             : var(--h1-font-size);
$font-size-h2             : var(--h2-font-size);
$font-size-h3             : var(--h3-font-size);
$font-size-h4             : var(--small-font-size);
$font-size-h5             : var(--smaller-font-size);
$font-size-h6             : var(--nano-font-size);
$font-paragraph           : var(--normal-font-size);
$font-size-navbar         : var(--small-font-size);
$font-size-small          : var(--small-font-size);

$border-radius-base       : 3px !default;
$border-radius-small      : 2px !default;
$border-radius-large      : 6px !default;
$border-radius-huge       : 10px !default;
$border-radius-label      : 12px !default;
$border-radius-extreme    : 30px !default;

$padding-card-body-y      : 0.9375rem !default;
$padding-card-body-x      : 1.875rem !default;