@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap');
  
// Font families
$heading-font : 'Red Hat Display', sans-serif;
$body-font    : 'Roboto', sans-serif;