<div class="modal-widget-settings">
    <header class="modal-widget-settings__header">
        <h2 class="modal-widget-settings__title">Configurar widget</h2>
        <mat-icon svgIcon="close" class="modal-widget-settings__close color-text" (click)="cancel()"></mat-icon>
    </header>
    <section class="modal-widget-settings__content">
        <div>
            <label class="bold">Tipo: </label>
            <input type="text" class="field-input mb-4">
            <label class="bold">Color: </label>
            <input type="color" class="field-input mb-4">
            <label class="bold">Tamaño:</label>
            <mat-select class="field-select mb-4" placeholder="Seleccione una opción">
                <mat-option value="1">Pequeño</mat-option>
                <mat-option value="2">Mediano</mat-option>
                <mat-option value="3">Grande</mat-option>
            </mat-select>
        </div>
    </section>
    <footer class="modal-widget-settings__actions">
        <button mat-button class="button color-third smaller mr-2" (click)="ok()">Aceptar</button>
        <button mat-button class="button color-cancel smaller" (click)="cancel()">Cancelar</button>
    </footer>
</div>