.sidebar-demo {
    --main-height   : 45vh;
    --header-height : 2px;

    background-color : var(--color-second);
    border           : 1px solid var(--color-third-alt);
    width            : 100%;
    height           : var(--main-height);
    margin-left      : 0;
}  