.button-demo {
    --main-height   : auto;

    background-color : var(--color-body);
    width            : 100%;
    height           : var(--main-height);

    &__container { 
        padding: 1em;
        background-color : var(--color-body-alt); 
    }
}
.button-container {
    background-color : var(--color-accent);
    width            : 100%;
    height           : 20vh;
    border-radius    : 0.3em;
}