<div class="row">
    <section class="col">
        <div class="home">
            <p class="home__info bigger">
                En esta guía se define los componentes UI para el maquetado de aplicaciones web, así como el código y clases CSS que debe utilizar para su creación.
            </p>

            <button mat-button 
                    class="button color-second"
                    [routerLink]="['/pages/colors']">
                Recorrer la guía
            </button>
        </div>
    </section>
</div>