<button [matMenuTriggerFor]="menu" class="app-menu" aria-label="button con menu">
    <mat-icon svgIcon="menu"></mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button *ngFor="let item of appMenu" 
            mat-menu-item 
            class="app-menu-item" 
            [ngClass]="{ 'menu-item-settings' : item.icon == 'settings' }" 
            [routerLink]="item.url"
            [disabled]="item.disabled">
        <mat-icon *ngIf="item.icon" svgIcon="{{item.icon}}"></mat-icon>
        <span>{{item.title}}</span>
    </button>
</mat-menu>