.expand-demo {
    --main-height   : auto;

    background-color : var(--color-body);
    width            : 100%;
    height           : var(--main-height);

    &__container { 
        padding: 1em;
        background-color : var(--color-body-alt); 
    }
}

.language-html {
    --main-height : 500px;

    height: var(--main-height);
}



