.tab-vertical {
    flex-direction: row !important; 
    margin-bottom: var(--vertical-content-space);
    
    & .mat-tab-header { border-bottom: none; }
    & .mat-tab-labels { flex-direction: column; }
    & .mat-tab-label { border-radius: .15rem 0 0 .15rem !important; }
    & .mat-tab-label-active { border-right: 3px solid var(--color-tab-border-active); }
    & .mat-ink-bar { height: 0; }
    & .mat-tab-body-wrapper { 
        margin-bottom: 0 !important; 
        border-radius: 0 .25rem .25rem 0 !important;
        box-shadow: none !important;
        width: 100%;
        min-height: 400px;
    }
}
