.tab.mat-tab-group .mat-tab-header { border-bottom-color: var(--color-tab-border-bottom);}
.tab.mat-tab-group .mat-tab-label {
    @include small;
    opacity       : 1;
    height        : 2.5em;
    border-radius : 3px 3px 0 0;
    user-select   : none;

    &:hover:not(.mat-tab-label-active) { background-color: var(--color-tab-hover); }
    &.mat-tab-label-active { 
        font-weight: 700; 
        background-color: var(--color-tab-active); 
    }
    .mat-tab-label-content {
        --color: var(--color-first);
    
        color: var(--color);
    }
}
.tab.mat-tab-group .mat-tab-body-wrapper { 
    border-radius: 0 0 .25rem .25rem;
    margin-bottom: var(--vertical-content-space);
}
.tab.mat-tab-group .mat-tab-body {
    background-color: var(--color-body);
    padding: var(--vertical-content-space);
}
