.field-tag {
    @include input;

    height: unset !important;

    .mat-chip {
        background-color: var(--color-text);
        color : white;
        border-radius: 5px;
        min-height: 1.7em;
        font-weight: 300;

        mat-icon { 
            font-size: 17px !important; 
            color : white !important;
            opacity: .8 !important;
        }
    }
    .mat-chip-disabled {
        cursor: pointer;
        ::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--color-body);
            opacity: .2;
        }
    }
    input {
        display          : block;
        border           : none;
        outline          : none;
        background-color : var(--color-input);        
    }
}