<article [class]="widget.class.class_color" class="widget-container">
    <header [class]="widget.class.class_header">
        <h6 class="heading-font small light-title white">{{widget.title}}</h6>
        <fieldset class="widget-header__actions">
            <mat-icon class="icon-move" svgIcon="arrows-move"></mat-icon>
            <mat-icon class="icon-maximize" (click)="maximize()" svgIcon="box-arrow-up-right"></mat-icon>
            <mat-icon class="icon-restore hidden" (click)="restore()" svgIcon="box-arrow-in-down-left"></mat-icon>
            <app-widget-menu *ngIf="widget" 
                [widget]="widget" 
                (removeWidgetEvent)="remove()"
                (settingWidgetEvent)="openWidgetSettings()">
            </app-widget-menu>
        </fieldset>
    </header>
    <div [class]="widget.class.class_body">
        Contenido del widget
    </div>
</article>