@import "variables/colors";
@import "variables/cards-colors";
@import "variables/widgets-colors";
@import "variables/shadows";
@import "variables/typography";

//components
@import "variables/tabs";
@import "variables/cards";
@import "variables/widgets";
@import "variables/widgets-menu";
@import "variables/dashboard";
@import "variables/menu";
@import "variables/input";
@import "variables/modal";


//layout
@import "variables/layout";

